@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@font-face {
    font-family: 'titulo';
    src: url(./fontes/Farmhouse.otf) format(opentype);
}

:root {
    --color0: #8C2016;
    --color1: #A66B37;
    --color2: #F2CC85;
    --color3: #5b7302;
    --color4: #F26D9E;

    --sobremessa0: #FF99AC;
    --sobremessa1: #F5E8D0;
    --sobremessa2: #906813;
    --sobremessa3: #B0C8E8;
    --sobremessa4: #F7F2F2;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}
body{
    background-color: var(--color3);
}
#sobremesa-body{
    background-color: var(--sobremessa3);
}
header{
    background-color: var(--color0);
    text-align: center;
    width: 100%;
    height: 200px;
    font-family:  Helvetica, sans-serif;
}
header h1{
    font-family: 'titulo', sans-serif;
    font-size: 88px;
    padding: 15px;
}
header p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: var(--color2);
}
.sobremesa-header{
    background-color: var(--sobremessa0);
}
.sobremesa-header p {
    color: var(--sobremessa2);
}

nav {
    background-color: var(--color0);
    height: 40px;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: var(--color2);
    margin: 7px;
    padding: 5px;
    font-weight: bold;
}
nav a:hover{
    background-color: var(--color2);
    color: var(--color3);
    font-weight: bolder;
    border-radius: 5px;
    transition: .5s;
}
.sobremesa-a{
    color: var(--sobremessa2);
}
.sobremesa-a:hover{
    background-color: var(--sobremessa3);
    color: var(--sobremessa0);
}
main {
    background-color: var(--color2);
    max-width: 850px;
    padding: 25px;
    margin: auto;
    text-align: justify;
    line-height: 1.5em;
}
main article{
    margin: 15px;
    padding: 5px;
}
main h2{
    font-family:  'Caveat', cursive;
    font-size: 28px;
}
main p {
    text-indent: 15px;
}
main ol {
    list-style-position: inside;
}
main picture{
}
#sobremesa-main{
    background-color: var(--sobremessa1);
}
aside{
    background-color: var(--color1);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}
aside h1{
    background-color: var(--color0);
    text-align: center;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px 15px 15px;
    border-radius: 5px 5px 0px 0px;
}
aside ul {
    list-style-position: inside;
}
footer{
    background-color: var(--color0);
    text-align: center;
}
.sobremesa-footer{
    background-color: var(--sobremessa0);
}
footer nav {
    height: 10px;
}
.contato-doce{
 color: #165cb8;
}
.contato-doce:hover {
    background-color: var(--sobremessa3);
    color: #b71450;
}