@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@font-face {
    font-family: 'titulo';
    src: url(./fontes/Farmhouse.otf) format(opentype);
}

:root {
    --color0: #8C2016;
    --color1: #A66B37;
    --color2: #F2CC85;
    --color3: #465902;
    --color4: #F26D9E;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: var(--color3);
}
header{
    background-color: var(--color0);
    text-align: center;
    height: 200px;
    font-family:  Helvetica, sans-serif;
}
header h1{
    font-family: 'titulo', sans-serif;
    font-size: 88px;
    padding: 15px;
}
header p{
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: var(--color2);
}
nav {
    background-color: var(--color0);
    height: 40px;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: var(--color2);
    margin: 7px;
    padding: 5px;
    font-weight: bold;
}
nav a:hover{
    background-color: var(--color2);
    color: var(--color3);
    font-weight: bolder;
    border-radius: 5px;
}
main {
    background-color: var(--color2);
    width: 970px;
    padding: 25px;
    margin: auto;
    text-align: justify;
}